@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

button {
  cursor: pointer;
}

code, 
pre {
  font-family: var(--font-mono), monospace;
}

@layer utilities {
  .flow > * + * {
    margin-block-start: theme("spacing.4");
  }
}