name: Sync content to Azure Blob

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [ "main" ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Upload to Azure Blob
        uses: azure/CLI@v2
        with:
            inlineScript: |
                az storage blob upload-batch \
                    --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
                    --destination container-davdevs \
                    --source . \
                    --pattern "README.md;app/content/**;text-files/**" \
                    --auth-mode login

